/* ==UserStyle==
@name           ASUS Router
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Fixing the ASUS router web interface
@author         Inityx
==/UserStyle== */

@-moz-document url("http:/asusrouter.com/Main_Login.asp") {
    html {
        width: 100%;
        height: 100%;
    }

    body.wrapper {
        background: var(--article-color);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    body > form,
    .div_table.main_field_gap,
    .div_tr
    {
        display: block;
        margin: 0 auto;
    }

    body > form {
        margin-bottom: 10rem;
    }

    .title_name, .p1.title_gap {
        display: none;
    }

    .prod_madelName {
        display: block;
        font-size: 48pt;
        margin: 1rem 0;
        text-align: center;
    }

    .title_gap,
    .password_gap
    {
        margin: 0;
    }

    input {
        margin: 1.5rem auto 0;
        float: none;
    }

    .form_input {
        padding: 0.75rem;
        width: 22rem;
    }

    .button {
        float: none;
        width: 5em;
        height: initial;
        line-height: initial;
        margin: 2.5rem auto 0;
        padding: 0.75rem 0;
        font-size: 24pt;
    }
}

@-moz-document domain("asusrouter.com") {
    :root {
        --matte-color: #111;
        --body-color: #222;
        --article-color: #333;
        --shadow: 0 0.5em 1em rgba(0,0,0,.2);
        --header-color: #356;
        --inactive-color: #33383c;
        --active-color: #596e74;
        --hover-color: #367;
        --button-color: white;
        --button-outline: grey;
        --button-outline-hover: skyblue;
        --curve: 0.5rem;
        --table-key-color: #444;
        --table-value-color: #555;
        --menu-width: 11rem;
    }

    body.bg {
        margin: 0;
        background-color: var(--matte-color);
    }

    /* Top */
    .banner1 {
        display: None;
    }

    .statusBar {
        margin-top: 2rem;

    }

    .minup_bg {
        background: var(--body-color);
        height: initial;
        border-radius: var(--curve) var(--curve) 0 0;

        table {
            margin: 1.5rem 4rem 0.75rem!important;
            width: initial!important;
        }
    }

    .titledown {
        span {
            display: inline-block;
            color: #aaa;
        }

        .title_link,
        a > span {
            color: #ccc !important;
        }
    }

    .radio_hint {
        background: var(--header-color);
        box-shadow: var(--shadow);
        border-radius: 0 0 var(--curve) var(--curve);
    }

    /* Main content */
    .content {
        background: var(--body-color);
        padding-bottom: 3em;
        border-radius: 0 0 var(--curve) var(--curve);

        #QIS_wizard_menu {
            display: none;
        }
    }

    #mainMenu > div,
    .content > tbody > tr > td:nth-child(3) > div
    {
        margin-top: 0!important;
    }

    #NM_shift, /* Network Map hack fix */
    .submenuBlock,
    #tabMenu
    {
        margin-top: 1rem!important;
        margin-bottom: 0;
    }

    /* Menu Headers */
    .menu_Split {
        text-align: initial;
        height: initial;
        min-height: initial;
        border: none;
        border-radius: var(--curve) var(--curve) 0 0;

        background-color: var(--header-color);
        box-shadow: var(--shadow);
        width: var(--menu-width);
        margin-top: 1rem;

        td {
            display: block;
            margin-left: 1rem;
            font-weight: bold;
        }

        & > table > tbody > tr {
            display: flex;
            align-items: center;
            height: 2.5rem;
        }
    }

    /* Menu Items */
    .menu {
        border: none;
        font-weight: initial;
        text-shadow: none;
        height: initial;
        background-color: var(--inactive-color);
        box-shadow: var(--shadow);
        width: var(--menu-width);

        &:hover {
            background-color: var(--hover-color);
        }

        & > table > tbody > tr {
            display: flex;
            align-items: center;
            height: 2.75rem;
        }
    }

    .menu_Icon {
        display: none;
    }

    .menu_Desc {
        display: block;
        margin-left: 1.5rem;
        font-weight: initial;
    }

    .menuClicked {
        background: var(--active-color);
    }

    #AiProtection_HomeSecurity_menu,
    #TrafficAnalyzer_Statistic_menu,
    #AdaptiveQoS_Bandwidth_Monitor_menu,
    #APP_Installation_menu,
    #cloud_main_menu,
    #GameProfile_menu,
    #GameBoost_menu
    {
        display: none;
    }

    /* Article */
    #tabMenu {
        padding-left: var(--curve);

        & > div > table {
            border-collapse: collapse;
            border: none;
            margin: 0;
        }

        td {
            margin: 0;
            padding: 0;
        }
    }

    .tab, .tabClicked {
        background: var(--inactive-color);
        padding: 0.5rem 0.4rem;
        margin: 0;
        margin-right: 3px;
        height: initial;
        border-radius: var(--curve) var(--curve) 0 0;
    }

    .tabClicked {
        background: var(--active-color);
    }

    .tab:hover {
        background: var(--hover-color);
    }

    .FormTitle {
        border: none;
        border-radius: 0;

        & > tbody > tr {
            background: none!important;
        }

        & > tbody > tr > td {
            background-color: var(--article-color)!important;
            box-shadow: var(--shadow);
            padding: 0 1rem 1rem;
        }

        & > tbody > tr:first-child > td {
            border-radius: var(--curve) var(--curve);
        }
    }

    .formfonttitle {
        font-size: 1.3rem;
        font-weight: bold;
        text-shadow: none;
        margin-left: 1rem;
    }

    .formfontdesc {
        margin: 1rem 1.5rem;
    }

    .splitLine {
        display: none;
    }

    .app_table {
        border-radius: 0;
        background-color: var(--article-color);
    }

    /* Network Map */
    .NM_radius_left,
    .NM_radius_right,
    .NM_radius
    {
        box-shadow: none;
    }

    #NM_table {
        background: var(--article-color);
        border-radius: var(--curve) var(--curve) 0 0;
        height: initial!important;
    }

    #statusTitle_NM {
        display: none;
    }

    #apply_tr > #bottom_border {
        border: None;
    }

    .statusbody {
        background-color: initial;
    }

    .NM_radius_bottom_container,
    .NM_radius_bottom
    {
        background: none;
        background-color: var(--article-color)!important;
        box-shadow: none;
        border-radius: 0;
    }

    .division-block {
        border-left: none;
        border-bottom: 1px solid;
        font-weight: bold;
        font-size: 14pt;
        padding-left: 0.5rem;
    }

    /* Tables */
    .FormTable {
        border: none;

        thead {
            background: none;
        }

        & > thead td,
        & > tbody td.aimesh_node_category_bg
        {
            background: none;
            border: none;
            font-size: 16px;
            font-weight: bold;
            line-height: 180%;
        }

        tbody th {
            background-color: var(--table-key-color);
            border: none;
            border-bottom: 1px solid var(--article-color);
        }

        tbody td:not(.aimesh_node_category_bg) {
            background-color: var(--table-value-color);
            border: none;
            border-bottom: 1px solid var(--article-color);
        }

        td span {
            background-color: transparent;
        }
    }

    /* Button */
    .button_gen {
        font-weight: initial;
        text-shadow: initial;
        background: var(--button-color);
        border-radius: initial;
        border: 1px solid var(--button-outline);
        color: initial;
        height: initial;
        font-family: sans-serif;
        font-size: 1em;
        padding: 0.5rem 1rem;
        width: initial;
        min-width: initial;
        overflow: initial;
        cursor: initial;
        outline: initial;
        white-space: initial;
        word-break: initial;
        -webkit-appearance: auto;

        &:hover {
            background: var(--button-color);
            border: 1px solid var(--button-outline-hover);
        }
    }

    .apply_gen {
        background: var(--article-color);
    }

    .iphone_switch {
        filter: invert(1) hue-rotate(180deg);
    }

    /* Footer */
    #footer {
        display: none;
    }
}
