/* ==UserStyle==
@name           Bailey Reader
@namespace      github.com/openstyles/stylus
@version        0.0.3
@description    Readability improvements for Dr. Mike Bailey's website
@author         Inityx
==/UserStyle== */

@-moz-document url-prefix("https://web.engr.oregonstate.edu/~mjb/") {
    html {
        background-image: url("https://web.engr.oregonstate.edu/~mjb/cs550/Images/backgr.jpg");
        height: 100%;
    }

    body {
        background: #DDD;
        width: 80%;
        max-width: 70rem;
        min-height: 100%;
        padding: 2rem 5rem;
        margin: 0 auto;
        box-shadow: 0 0 2rem rgba(0,0,0,0.3), 0 0 1.5rem rgba(0,0,0,0.15);
        font-family: sans-serif;
    }

    hr {
        height: 0px;
        width: 66%;
        margin: 3rem auto;
        color: #DDD;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    a[href] {
        color: #0033BB;

        &:visited {
            color: #6633BB;
        }

        & > tt {
            font-size: 1.1rem;
            display: inline;
        }
    }

    font[color="#ff0000"] {
        color: #AA0000;
    }

    pre {
        border: solid 0.3rem #999;
        border-radius: 1.75rem;
        padding: 1.5rem;
        margin: 3rem auto;
        width: 80%;
        display: inline-block;
        background: #222;
        color: #DDD;
        font-weight: normal;
        font-size: 1.0rem;
        font-family: 'Fira Code', monospace;
        overflow-x: scroll;
    }

    tt, pre {
        display: block
    }

    table[border] {
        margin: auto;
        border: none;
        border-spacing: 0;

        td, th {
            border: none;
            padding: 0.3rem 0.5rem;
        }

        & > tbody > tr:nth-child(odd) {
            background-color: #CCC;
        }
    }
}
