/* ==UserStyle==
@name           Common Lisp HyperSpec
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Dark theme for CLHS/LispWorks
@author         Inityx
==/UserStyle== */

@-moz-document url-prefix("http://www.lispworks.com/documentation/"), url-prefix("http://clhs.lisp.se/") {
    @import url('https://fonts.googleapis.com/css?family=Gwendolyn');

    :root {
        --text-color: #ddd;
        --accent-color: #8be;
        --em-color: #97cad1;
        --subtext-color: #8c837a;
        --visited-color: #78a;
        --bg-dark: #222;
        --bg-light: #333;
        --bg-half: #2c2c2c;
    }

    html {
        background-color: var(--bg-dark);
    }

    body {
        max-width: 50rem;
        margin: 0 auto;
        padding: 1rem;
        background-color: var(--bg-light);
        color: var(--text-color);
    }

    a {
        color: var(--accent-color);

        &:visited {
            color: var(--visited-color);
        }


        &[rel=COPYRIGHT] i {
            display: block;
            margin-top: 1rem;
        }
    }

    a[href] > i, p > i, a > b {
        font-size: 0.9rem;
        font-style: normal;
        font-family: monospace;
        padding: 0.1rem 0.3rem;
        border-radius: 0.2rem;
        background-color: var(--bg-half);
    }

    h1 {
        display: flex;
        justify-content: space-between;

        &::before {
            content: "Common Lisp HyperSpec";
            font-family: Gwendolyn;
            color: var(--accent-color);
            font-size: 3rem;
        }

        a {
            padding-top: 1rem;
            filter: hue-rotate(195deg) invert(86%) saturate(70%);

            &[rel="TOP"], &[rev="MADE"], &[rel="META"] {
                display: none;
            }
        }
    }

    hr {
        margin-bottom: 2rem;
    }

    p {
        margin-left: 1rem;
    }

    tt {
        font-size: 0.9rem;
    }

    pre {
        font-size: 0.9rem;
        margin: 1rem 2rem;
        padding: 1rem;
        border-radius: 0.3rem;
        background: var(--bg-half);
        overflow-x: scroll;
    }
}
