/* ==UserStyle==
@name           DanLuu
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Usability for danluu.com
@author         Inityx
==/UserStyle== */

@-moz-document domain("danluu.com") {
    html {
        background: #223;
    }

    body {
        width: 50rem;
        padding: 3rem;
        max-width: calc(100% - 6rem);
        margin: auto;
        background: #414b7a;
        color: #fff;
        font-family: sans-serif;
        line-height: 140%;
    }

    body > div.par > div {
        padding: 0.75rem 1rem 0;
    }

    body > div.par > div:nth-child(even) {
        background: #4d5784;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #eee;
        border-bottom: 2px solid #666;
    }

    a {
        color: #bbf;
        line-break: anywhere;
    }

    a:visited {
        color: #fbf;
    }

    hr {
        margin: 2rem 0;
    }
}
