/* ==UserStyle==
@name           Fextralife Wiki
@namespace      github.com/openstyles/stylus
@version        0.3.0
@description    Fixes for the Fextralife wiki
@author         Inityx
==/UserStyle== */

@-moz-document domain("wiki.fextralife.com") {
    :root {
        --content-width: 100rem;
        --content-margin: 3rem;
    }

    body > picture > img {
        filter: blur(10px);
    }

    .ios-fix > .container-fluid > #form-header {
        width: var(--content-width);
        margin: auto;
    }
    .WikiLogo.WikiElement {
        margin-left: 0;
    }

    #sidebar-wrapper { display: none; }
    #wrapper { padding-left: inherit; }

    .fex-main {
        width: var(--content-width);
        max-width: 95%;
        margin: 10rem auto 8rem;
        background: rgba(10, 10, 10, .9);
        padding-top: 0;
    }

    .fex-bg-image {
        padding: 0 !important;
    }

    #page-content-wrapper > .page-content > .container-fluid {
        padding: 0;
    }

    .page-chunk {
        margin: var(--content-margin);
    }

    .page-segment-btns,
    div.footer-sticky,
    .ios-fix > div.hidden-xs,
    #fextrastream,
    #form-header,
    .wiki-footer-nav
    { display: none; }
}
