/* ==UserStyle==
@name           Fmovies
@namespace      github.com/openstyles/stylus
@version        0.0.5
@description    FMovies layout tweaks
@author         Inityx
==/UserStyle== */

@-moz-document regexp("https://([A-Za-z0-9]*\\.)?fmovies\\..*") {
    body {
        background: black;
    }

    /* Header */
    #header {
        box-shadow: none;
        background: transparent;
    }

    @media screen and (max-width: 1199px) {
        #header {
	        height: initial;
        }

        #search {
            display: none;
        }
    }

    #logo > img,
    #user-slot
    {
        filter: opacity(75%);
    }

    #header_menu { display: none; }

    /* Video container */
    div.container {
        div.watching > &, div.watch_block > & {
            padding: 0;
            margin: 3em auto;
            box-shadow: 0 0 8em 2em #4c95aa48;
            border: 0.75em solid black;
            border-radius: 0.5em;

            @media screen and (max-width: 1199px) {
                border-left: none;
                border-right: none;
                border-radius: 0;
            }
        }

        @media screen and (min-width: 1660px) {
            width: 80rem;
        }
    }

    .w_b-cover {
        &, &::before, &::after {
            background: none!important;
        }
    }

    .watching_player-area {
        background: none!important;
    }

    /* Server selector */
    .detail_page-servers .dp-s-line {
        padding: 2em 0;
    }

    .dp-i-c-stick .btn-light,
    .detail_page-servers {
        background: transparent!important;
    }

    .detail_page-servers .dp-s-line .nav .nav-item .nav-link {
        background: #111!important;
        padding: 0.5em 1.5em 0.5em 3em!important;
        padding-left: 1rem;

        &, &.active, &:hover {
            background: #007CA1!important;
        }

        span::before {
            content: none;
            top: initial;
        }
    }

    .btn-info {
        background: #007CA1!important;
    }

    /* Removed elements */
    .alert,
    #mv-keywords,
    div.prebreadcrumb,
    .watching_player-control
    {
        display: none;
    }

    /* Below the fold */
    .film-related .film-poster {
        outline: 2px outset #FFF7;
        border-radius: 6px;
    }

    .movie_information .m_i-detail .m_i-d-poster {
        outline: 2px outset #FFF7;
        border-radius: 7px;
    }
}
