/* ==UserStyle==
@name           Genius
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Decluttering for Genius.com
@author         Inityx
==/UserStyle== */

@-moz-document domain("genius.com") {
    div[class*="RightSidebar"],
    div[class*="MediaPlayersContainer"],
    div[class*="About"],
    div[class*="SongComments"],
    div[class*="PageFooter"],
    div[class*="MetadataStats"],
    div[class*="LyricsHeader"],
    div[class*="LyricsFooter"],
    div[class*="SectionLeaderboard"],
    div[class*="SectionScrollSentinel__Element"],
    #about
    {
        display: none;
    }

    #lyrics-root {
        display: block;
        margin: auto;
        width: 30em;
        max-width: 90%;

        span {
            background-color: initial!important;
        }

        span:hover {
            color: inherit!important;
        }
    }
}
