/* ==UserStyle==
@name           GNU Coreutils Docs
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Dark mode for GNU Coreutils
@author         Inityx
==/UserStyle== */

@-moz-document url-prefix("https://www.gnu.org/software/coreutils/manual/html_node/") {
    :root {
        --base-bg: oklch(21% 0 0);
        --body-bg: oklch(28% 0 0);
        --body-fg: oklch(99% 0.01 197);
        --body-ac: oklch(80% 0.09 318);
        --drop-shadow: 0 0 20px oklch(0% 0 0 / 50%);
        --border: 2px solid oklch(40% 0 0);
        --link-default: oklch(70% 0.18 210);
        --link-visited: oklch(70% 0.18 270);
        --code-bg: oklch(10% 0 0);
    }

    html {
        background-color: var(--base-bg);
    }

    body {
        background-color: var(--body-bg);
        color: var(--body-fg);
        border-block: none;
        border-inline: var(--border);
        box-shadow: var(--drop-shadow);
    }

    blockquote {
        border-color: oklch(60% 0.2 23);
    }

    h1, h2, h3, h4 {
        color: var(--body-fg);
    }

    h5, h6, dt {
        color: var(--body-ac);
    }

    a[href] {
        color: var(--link-default);

        &:visited {
            color: var(--link-visited);
        }

        &:active, &:hover {
            color: var(--link-visited);
            text-decoration: none;
        }
    }

    div.example, pre.example {
        background-color: var(--code-bg);
        border: var(--border);
    }
}
