/* ==UserStyle==
@name           HackerNews Dark
@namespace      github.com/openstyles/stylus
@version        0.1.2
@description    A dark theme for HackerNews
@author         Inityx
==/UserStyle== */

@-moz-document domain("news.ycombinator.com") {
    :root {
        --text-color: #ddd;
        --subtext-color: #8c837a;
        --visited-color: #999;
        --bg-dark: #222;
        --bg-light: #333;
        --bg-half: #2a2a2a;
    }

    html {
        background-color: var(--bg-dark);
    }

    @media (min-width: 750px) {
        body {
            margin: 8px 0;
        }
    }

    table#hnmain {
        background-color: var(--bg-light)!important;
        width: 750px;
        min-width: 0;
        max-width: 100%;
    }

    a.titlelink {
        color: var(--text-color);
    }

    table.itemlist,
    table.comment-tree {
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        width: 100%;
    }

    textarea {
        background-color: var(--bg-half);
        border: inset 0.125rem var(--bg-half);
        color: var(--text-color);
        height: 4rem;
    }

    form input[type="submit"] {
        color: var(--text-color);
        background-color: var(--bg-half);
        border: outset 0.125rem var(--bg-half);
        border-radius: 0.125rem;
    }

    a:visited {
        color: var(--visited-color);
    }

    span.pagetop a {
        &:link, &:visited {
            color: black;
        }
    }

    a:link,
    .c00,
    .c00 a:link,
    form {
        color: var(--text-color);
    }

    .subtext {
        &,
        a:link,
        a:visited {
            color: var(--subtext-color);
        }
    }

    .comhead a:link,
    .reply a:link {
        color: var(--subtext-color);
    }

    td.votelinks {
        filter: invert(1);
    }

    tr#pagespace + tr {
        display: block;
        padding-inline: 0.5em;
    }

    table#hnmain > tbody > tr:first-child > td {
        background-color: #BB5000;
    }
}
