/* ==UserStyle==
@name           LWN Dark
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Dark mode and usability for LWN
@author         Inityx
==/UserStyle== */

@-moz-document domain("lwn.net") {
    :root {
        --body-bg: oklch(22% 0 0);
        --body-fg: oklch(95% 0 0);
        --code-bg: oklch(28% 0 0);
        --code-fg: oklch(100% 0 0);
        --link-fg: oklch(72% 0.12 283);
        --link-hover: oklch(82% 0.09 283);
        --quote-fg: oklch(85% 0.07 83);
        --menu-bg: oklch(32% 0 0);
        --frame: oklch(40% 0.04 283);
        --drop-shadow: 0 0.2em 0.4em oklch(0% 0 0 / 20%);
        --article-width: 65em;
        --menu-shift: 10em;
    }

    html {
        margin: 0;
    }

    body {
        background: var(--body-bg);
        color: var(--body-fg);
        max-width: calc(var(--menu-shift) + var(--article-width));
        margin: 0 auto;
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--body-fg);
    }

    a:link {
        color: var(--link-fg);

        &:hover {
            background-color: var(--main-background);
            color: var(--link-hover);
        }
    }

    div.topnav-container {
        display: none;
    }

    DIV.PageHeadline {
        margin-top: 5em;
        margin-left: 2em;
        text-align: left;
    }

    div.maincolumn {
        padding: 0;
        max-width: 100%;
    }

    @media screen and (min-width: 48em) {
        #menu {
            position: sticky;
            height: calc(100vh - 2em);
            float: left;
            background: var(--menu-bg);
            box-shadow: var(--drop-shadow);
            padding: 1em;
        }

        img.logo {
            position: revert;
        }

        span.logo {
            padding: 0;
            float: right;
            margin: 0.2em;
        }

        span.logobl {
            position: revert;
            display: block;
        }

        div.navmenu-container {
            margin-top: 1em;
        }

        .navmenu {
            a, a:visited {
                color: inherit;
            }

            ul {
                background: revert;
                margin-top: 1rem;
            }
        }

        div.maincolumn {
            max-width: var(--article-width);
        }

        DIV.PageHeadline {
            margin-top: 2em;
        }
    }

    body > center > p { /* Footer */
        display: none;
    }

    div.ArticleText {
        padding: 0;
        margin: 0 2em;

        & > pre {
            display: inline-block;
            background-color: var(--code-bg);
            color: var(--code-fg);
            padding-block: 1.5lh;
            padding-right: 4em;/* LWN code is all indented 4 spaces */
            max-width: 100%;
            margin-block: 2em;
            border-radius: 0.5lh;
            box-shadow: var(--drop-shadow);
            overflow-x: scroll;
        }
    }

    .Form {
        display: none;
    }

    div.GAByline, table.IndexEntries {
        background: var(--menu-bg);
        border-color: var(--frame);
    }

    DETAILS.CommentBox {
        border: none;

        DETAILS.CommentBox > & {
            border-left: 2px solid var(--frame);
        }

        SUMMARY > H3.CommentTitle {
            background-color: var(--frame);
            padding: 0.1em;
            border-radius: 0;
        }
    }

    SPAN.QuotedText {
        color: var(--quote-fg);
    }

    div.rightcol {
        display: none;
    }

    DIV.FeatureByline {
        background-color: var(--menu-bg);
        padding: 0.75lh 1em;
        margin-right: 1em;
        border-radius: 0.25lh;
        box-shadow: var(--drop-shadow);
    }

    Q {
        color: var(--quote-fg);
        background-color: var(--body-bg);
    }

    blockquote.bq {
        color: var(--quote-fg);
        background-color: var(--body-bg);
        padding: 0.25lh 1em;
        border-left: 3px solid var(--quote-fg);
    }
}
