/* ==UserStyle==
@name           man7 Dark Mode
@namespace      github.com/openstyles/stylus
@version        0.0.1
@description    Dark mode and layout tweaks for man7.org
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://www.man7.org/linux/man-pages/man") {
    div.nav-bar {
        background-color: transparent;
    }

    html {
        background-color: #333;
    }

    body {
        background-color: #eee;
        width: 48em;
        max-width: 100%;
        margin: 0 auto;
        padding: 0.2em 2em;
    }

    h1, h2, h3, h4, h5, h5 {
        color: #163;
        margin: 0;
        margin-top: 2rem;
    }

    h2 {
        border-top: 1px solid #0003;
    }

    b {
        color: #841;
    }

    a {
        color: #44c;
    }

    hr.start-footer, hr.end-footer {
        display: none;
    }

    div.footer {
        background-color: #ccc;
        margin: 1rem 2rem;
    }
}