/* ==UserStyle==
@name           Monospace
@namespace      github.com/openstyles/stylus
@version        0.0.1
@description    Fix for nonstandard monospace fonts
@author         Inityx
==/UserStyle== */

code,
.page-section code,
.page-section .code-block,
.page-section .code-block .code-block-inner
{
    font-family: monospace !important;
    font-variant-ligatures: contextual !important;
}

@-moz-document domain("https://en.cppreference.com/") {
pre {
    font-family: monospace !important;
    font-variant-ligatures: contextual !important;
}
}

@-moz-document domain("docs.rs") {
.code-header,
pre
{
    font-family: monospace !important;
    font-variant-ligatures: contextual !important;
}

}
