/* ==UserStyle==
@name           NexusMods
@namespace      github.com/openstyles/stylus
@version        0.0.1
@description    NexusMods layout tweaks
@author         Inityx
==/UserStyle== */

@-moz-document domain("www.nexusmods.com") {
    .mod_description_container div {
        text-align: left!important;
    }
}