/* ==UserStyle==
@name           OpenJDK
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Usability for OpenJDK.org
@author         Inityx
==/UserStyle== */

@-moz-document url-prefix("https://openjdk.org/") {
    html {
        background: #bbb;
    }

    body {
        margin-block: 0;
        margin-inline: auto;
        width: 68em;
        padding: 2em;
        background: #fff;
    }

    #main {
        width: calc(100% - 13em);
    }

    pre {
        background: #eee;
        padding: 1em 1.5em;
        margin-block: 2em;
        border-radius: 0.5em;
        overflow-x: scroll;
        box-shadow: 0 0.1em 0.4em #0002 inset;
    }

    h2 {
        border-bottom: 1px solid #bbb;
    }

    h3 {
        margin-top: 2ex;
    }
}

@-moz-document url-prefix("https://mail.openjdk.org/pipermail/") {
    body {
        width: 50em;
        margin-inline: auto;
    }
}
