/* ==UserStyle==
@name           Oracle Docs
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Usability for Oracle Docs
@author         Inityx
==/UserStyle== */

@-moz-document domain("docs.oracle.com") {
    body {
        width: 60em;
        max-width: 100%;
        margin-inline: auto;
    }

    h1 {
        margin-top: 3ex;
    }

    .a2topiclinks {
        display: none;
    }

    #breadcrumb, #sharepage {
        font-size: .75rem;
    }

    table {
        border: none;
        margin-block: 2ex;
    }

    pre {
        padding: 1.5em;
        margin: 0;
        background: var(--darkreader-neutral-background, #f4f4f4);
        box-shadow: 0 0.3em 0.5em #0003;
    }

    th, td {
        border-color: #8888;
    }

    td > p {
        margin: 0;
    }

    td > br:nth-child(1) {
        display: none;
    }
}
