/* ==UserStyle==
@name           Samba Docs
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Usability for Samba docs
@author         Inityx
==/UserStyle== */

@-moz-document url("https://www.samba.org/samba/samba/docs/") {
    div#page {
        margin: 1.5em auto;
        background-image: none;
    }

    #hd #bannerStart {
        background-image: none;
        height: 3rem;
    }

    #hd #bannerStart::after {
        content: "SAMBA";
        font-size: 4rem;
        font-family: "Arial Black";
        color: red;
        position: relative;
        top: 1rem;
        left: 2rem;
    }

    #bd .specialBox,
    #bd .specialBox .specialBoxBottom
    {
        background-image: none;
    }

    div#special {
        background-color: var(--main-box-bg-color);
    }

    #bd .specialBox {
        position: initial;
        left: initial;
        width: initial;
        padding: 1rem!important;
        margin: 0!important;
    }

    #bd .specialBox .specialBoxContent {
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
}

@-moz-document url("https://www.samba.org/samba/samba/docs/man/") {
    body {
        width: 50rem;
        max-width: calc(100% - 2rem);
        margin: auto;
    }
}

@-moz-document url-prefix("https://www.samba.org/samba/samba/docs/current/"), url-prefix("https://www.samba.org/samba/samba/docs/man/manpages") {
    :root {
        --background-color: #1A1A1A;
        --foreground-color: #F2FFFF;
        --note-color: #454545;
        --header-color: #82AAFF;
        --visited-color: #C792EA;
        --variable-color: #F07178;
        --subheader-color: #FFCB6B;
        --code-color: #C3E88D;
        --link-color: #89DDFF;
    }

    body {
        background: var(--background-color);
        color: var(--foreground-color);
        width: 50rem;
        max-width: calc(100% - 2rem);
        margin: auto;
    }

    p {
        color: var(--foreground-color);
    }

    .refsect1 > p,
    .refsect2 > p,
    .refsect1 > .itemizedlist,
    .refsect2 > .itemizedlist
    {
        margin: 1rem 2rem;
    }

    pre.programListing, pre.programlisting, pre.screen {
        padding: 1rem;
        color: var(--code-color);
        border: 1px dashed var(--code-color)
    }

    div.note {
        color: var(--foreground-color);
        margin: 2rem auto !important;
        padding: 1rem;
        background-color: var(--note-color);
    }

    h1::after { /* Man pages start at h2 for some reason */
        content: "Please fix userstyle";
    }

    h2, h3 {
        background-color: transparent;
    }

    h2 {
        border-bottom: 1px solid;
        margin-top: 2rem;
        color: var(--header-color);
        font-size: 1.5rem;
    }

    h3 {
        color: var(--subheader-color);
    }

    div.variablelist {
        padding-left: initial;
        color: var(--variable-color);
    }

    dt {
        font-family: monospace;
        font-size: 1.2em;
    }

    em {
        font-style: normal;
        font-weight: 600;
    }

    code {
        color: var(--code-color);
    }

    a:link {
        color: var(--link-color);
    }

    a:visited {
        color: var(--visited-color);
    }
}
