/* ==UserStyle==
@name           Sourceware
@namespace      github.com/openstyles/stylus
@version        0.0.2
@description    Usability for sourceware.org
@author         Inityx
==/UserStyle== */

@-moz-document domain("sourceware.org") {
    #header, #page {
        width: 43em;
        max-width: 95%;
        margin: 0 auto;
    }

    div.table-of-contents {
        float: left;
        margin-right: 2em;
    }
}
