/* ==UserStyle==
@name           StackExchange Declutter
@namespace      github.com/openstyles/stylus
@version        0.0.1
@description    Decluttering for StackExchange sites
@author         Inityx
==/UserStyle== */

@-moz-document
    domain("askubuntu.com"),
    domain("mathoverflow.net"),
    domain("serverfault.com"),
    domain("stackoverflow.com"),
    domain("stackexchange.com"),
    domain("stackapps.com"),
    domain("superuser.com")
{
    .question-page header.s-topbar,
    #sidebar,
    #left-sidebar,
    #post-form,
    .js-post-comments-component a.comments-link,
    a.js-suggest-edit-post,
    button.js-follow-post,
    .js-dismissable-hero,
    .js-consent-banner,
    .bottom-notice,
    footer
    {
        display: none !important;
    }

    body.question-page {
        padding-top: 0;
    }

    #mainbar {
        width: 100%;
    }

    #content {
        border: none;
        max-width: 64em;
    }

    #answers {
        padding: 0;
        margin-top: 4em;
    }
}
