/* ==UserStyle==
@name           YouTube Music
@namespace      github.com/openstyles/stylus
@version        0.0.1
@description    Usability for YouTube Music
@author         Inityx
==/UserStyle== */

@-moz-document domain("music.youtube.com") {
    ytmusic-player-page {
        --ytmusic-player-page-vertical-padding: 0;
        --ytmusic-player-page-horizontal-padding: 4em;
        --ytmusic-player-page-content-gap: 4em;
    }

    ytmusic-player {
        background-color: transparent;
    }

    .av.ytmusic-player-page {
        padding-bottom: 0;
        position: absolute;
        top: var(--ytmusic-player-page-horizontal-padding);
    }

    #song-image.ytmusic-player {
        scale: 0.75;
    }
}
