body {
    --h1-size: 2.0em;
    --h2-size: 1.8em;
    --h3-size: 1.6em;
    --h4-size: 1.4em;
    --h5-size: 1.2em;
    --h6-size: 1em;
    --h3-color: rgb(179, 153, 150);
    --h4-color: rgb(157, 160, 192);
    --h5-color: rgb(100, 124, 103);
    --h6-color: rgb(176, 104, 104);
}

.cm-s-obsidian .cm-line.HyperMD-header {
    margin: var(--p-spacing) 0!important;
    padding-top:0
}

.HyperMD-header-2 {
    border-bottom: 2px solid #666;
}
